.summary-container ul {
    list-style: none;
    padding: 0;
  }
  
  .summary-container ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    flex-wrap: wrap; 
  }
  
  .summary-container .item-details span {
    flex: 1;
    text-align: left;
  }
  
  .summary-container .total-cost {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  